body {
  background-color: rgb(36, 36, 36); /* color gris oscuro */
  color: #080808; /* texto blanco para contraste */
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #141415; /* azul oscuro */
  color: #060606; /* blanco */
  padding: 5px;
}

/* Main */
main {
  background-color: #e8eaf6; /* azul muy claro */
  color: #090909; /* azul oscuro */
  padding: 10px;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;   
  grid-gap: 10px;   
  justify-content: center;  
  align-items: center;
}

/* Footer */
footer {
  background-color: #161616; /* azul oscuro */
  color: #090909; /* blanco */
  padding: 5px;
}

/* Todos los div */
div {
  background-color: #f7f5f5; /* azul claro */
  color: #303f9f; /* azul mediano */
  padding: 10px;
  margin: 5px;
}

/* Enlace */
a {
  background-color: #4a90e2; /* color de fondo */
  color: #070707; /* color de letra */
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  display: block; 
  text-decoration: none;
}

img {
  width: 100%;
}


iframe {
  width: 100%;
  height: 200px;
}
 main > div{
    height: 100%;
    display: grid;   
    align-items: center;  
 }
        
 a:hover{
    background-color: rgb(94, 53, 53);     
 }
